.intro{
    padding-left:30px;
    padding-bottom:20px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.card{
    margin-left:10px;
    width:100%;
    height:110%;
    background-color:#EFF7F9
}
.about{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:20px;
    padding-top:2px;
    padding-left:10px;
}
.intro_card{
    padding-top:20px;
    padding-right:30px;
    padding-left:30px;
}

.type{
    text-align:justify;
    padding-left:15px;
    padding-right:15px;
    color:black;
}
.portfolio{
   font-size:50px; 
}
.no_style{
    list-style-type: none;
}
.polaroids a{
    background-color:white;
    float:left;
    margin:0px 0px 10px 5px;
    padding:10px 10px 8px;
    text-align: center; 
    font-family: "Marker Felt", sans-serif; 
    text-decoration: none;
    color: #333; 
    position:relative;
    font-size: 18px;
    -webkit-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg);
    -webkit-transition:-webkit-transform .20s linear;
    -moz-transition:-moz-transform .20s linear;
}
.polaroids li:nth-child(even) a{
    -webkit-transform:rotate(8deg);
    -moz-transform:rotate(8deg);
}
.polaroids img{
    width:110px;
    height:110px;
}
.polaroids li a:hover{
    -webkit-transform:scale(1.20);
    -moz-transform:scale(1.20);
}

.contact{
    font-size:18px;
}
.icons{
    margin-left:50px;
    height:40px;
    margin-bottom:15px;
}
.text{
    margin-top:10px;
}

.card_about{
    height:110%;
    width:100%;
}
.card_contact{
    width:94%;
}